/*样式重置（reset）*/
body,h1,h2,h3,h4,p,ul,ol,dl,dt,dd,form,input,select,span,p,strong,em,div{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;blr:expression(this.onFocus=this.blur());outline: none;color: #000;}
a:focus{outline: none;}
h2,h2,h3,h4,h5,h6{font-weight: normal;}
img{border:none;vertical-align:top;}
input{outline:none;}
em{font-style: normal;}
body,input{font-family:"方正黑体简体";}
body,html{height: 100%;width: 100%;}
html{font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
div{box-sizing:border-box;}
body{font-size: 1.2rem; /*1.2 × 10px = 12px */background-color: #f3f5f7;}
@media only screen and (max-width:360px) {
    html{font-size:40%}
}
/*index*/
.h1_wx01{font-size: 20px;color: #fff;text-align: center;line-height: 4.8rem;background-color: #33beff;font-weight: normal;}
.wx_slidebox{width: 100%;overflow: hidden;position: relative;}
.wx_slide{overflow: hidden;}
.wx_slide li{float: left;}
.wx_slide li img{width: 100%;}
.wx_slidenum{font-size:20px;position: absolute;bottom: 0.5rem;}
.wx_slidenum li{width:0.75rem;height: 0.75rem;background: url(../images/wx_bannericon01.png) no-repeat 0 0;background-size: cover;float: left;margin-right: 1rem;}
.wx_slidenum li.check{background: url(../images/wx_bannericon02.png) no-repeat 0 0;background-size: cover;}
.wx_indexnav{padding-bottom: 5rem;overflow: hidden;}
.wx_indexnav li{width: 50%;float: left;}
.wx_indexnav li img{width: 100%;}
.wx_sys{width: 5rem;position: fixed;bottom: 1.4rem;left: 50%;margin-left: -2.5rem;z-index: 2;}
.wx_sys img{width: 100%;}
.wx_nav{height:5rem;position: fixed;bottom: 0;left: 0;width: 100%;background-color: #fff;border-top: 1px solid #dcdcdc;}
.wx_nav a{float: left;width: 6.5rem;text-align: center;display: block;color: #999;font-size: 12px;position: relative;padding-top: 0.5rem;}
.wx_nav a:nth-of-type(3),.wx_nav a:nth-of-type(4){float: right;}
.wx_nav a.check{color: #33beff;}
.wx_nav a img:nth-of-type(1){width: 2.2rem;}
.wx_nav a img:nth-of-type(2){position: absolute;width: 0.6rem;top: 0.2rem;right: 2.2rem;}
.wx_nav a span{display: block;line-height: 2.3rem;}
/*swiper*/
.swiper-container{width: 100%;}
.swiper-slide{text-align: center;font-size: 18px;background: #fff;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.swiper-slide img{width: 100%;}

/*login*/
.wx_fh{display: block;width:4.8rem;height:4.8rem;position: absolute;left:0;top:0;}
.wx_fh img{width: 1rem;position: absolute;top: 1.6rem;left: 1.5rem;}
.wx_loginul{border-bottom: 1px solid #dcdcdc;background-color: #fff;margin-bottom: 1rem;overflow: hidden;position: relative;}
.wx_loginul li{margin-bottom: -1px;width: 50%;float: left;text-align: center;line-height: 4rem;font-size: 14px;color: #333;}
.wx_loginul li a{color: #333;}
.wx_loginul li.check{color: #33beff;border-bottom: 2px solid #33beff;}
.wx_loginul li.check a{color: #33beff;}
.wx_loginul li:nth-of-type(2){width: 1px;position:absolute;top: 0.8rem;left: 50%;background: url(../images/wx_loginul01.png) no-repeat 0 0;background-size: cover;height: 2.4rem;}
.wx_loginbor01{position: absolute;top: 0;left: 0;}
.wx_loginp01{font-size: 14px;color: #333;margin-top: 4rem;line-height: 2.8rem;margin-left: 1.5rem;}
.wx_loginp01 a{color:#32beff;}
.wx_lohinbtn01{width: 28.5rem;height: 4rem;-moz-border-radius: 8px;-webkit-border-radius:8px;border-radius:8px;background-color: #32beff;color: #fff;text-align: center;line-height: 4rem;font-size: 18px;margin-left: 1.5rem;}
.wx_logina01,.wx_logina02{margin-left: 1.5rem;line-height: 2.7rem;font-size: 14px;color: #33beff;}
.wx_logina02{float: right;margin-right: 1.5rem;}
.wx_loginp02{font-size: 14px;color: #ec1211;line-height: 2rem;position: absolute;left: 1.5rem;top:20rem;}

/*register*/
.reg_ul01{background-color: #fff;margin-top: 1rem;border-top: 1px solid #dcdcdc;}
.reg_ul01 li{line-height: 4.5rem;border-bottom: 1px solid #dcdcdc;padding: 0 1.5rem;color: #333;font-size: 14px;position: relative;}
.reg_ul01 li input{line-height: 4.5rem;border: none;color: #999;font-size: 14px;width: 15rem;}
.wx_delipt01{width: 1.4rem;position: absolute;right:10rem;top:1.5rem;}
.reg_ul01 li:nth-of-type(2) .wx_delipt01,.reg_ul01 li:nth-of-type(3) .wx_delipt01{right:1.5rem;}
.reg_ul01 li:nth-of-type(4) .wx_delipt01{right: 6.2rem;}
.login_ul01 li:nth-of-type(1) .wx_delipt01{right: 1.5rem;}
.wx_getnum{line-height: 2.3rem;color: #fff;background-color: #33beff;-moz-border-radius: 8px;-webkit-border-radius:8px;border-radius:8px;position: absolute;right:1.5rem;top:1rem;width: 7.5rem;text-align: center;}
.wx_delipt02{position: absolute;right:1.5rem;top:1.5rem;width: 4rem;}
.reg_ul01 li span{display: inline-block;text-align: right;width:5rem;white-space: nowrap;margin-right: 0.5rem;}
.wx_regbtn01{font-size: 18px;color: #fff;background-color: #32beff;width: 29rem;margin:6.9rem auto 0;height: 4rem;line-height: 4rem;text-align: center;-moz-border-radius: 8px;-webkit-border-radius:8px;border-radius:8px;}
.wx_regp01{font-size: 14px;color: #ec1211;line-height: 2rem;position: absolute;left: 1.5rem;top: 24.5rem;}
.wx_regsuccess{color: #ccc;font-size: 14px;width: 13.5rem;height: 6.8rem;line-height: 6.8rem;position: absolute;top: 50%;left: 50%;margin: -3.4rem 0 0 -6.75rem;text-align: center;background-color: #35596b;-moz-border-radius: 8px;-webkit-border-radius:8px;border-radius:8px;display: none;}

/*updateusername*/
.wx_fhp01{font-size: 14px;color: #333;line-height:2.4rem;padding:1rem 0 0 2rem;}

/*myorder*/
.wrapper{position: absolute;z-index: 1;top:4.8rem;bottom: 0px;left: 0;width: 100%;background: #fff;overflow: hidden;}
.scroller{position: absolute;z-index: 1;-webkit-tap-highlight-color: rgba(0,0,0,0);width: 100%;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-o-text-size-adjust: none;text-size-adjust: none;}
.scroller-pullDown,.scroller-pullUp{background: #fff;height:4rem;line-height:4rem;font-weight: bold;font-size: 14px;color: #888;text-align:center;position:absolute;left:0px; width:100%;}
.scroller-pullDown{top:-4rem;}
.scroller-pullUp{bottom:-4rem;}

.myorder_box{width: 90%;margin:1rem auto 0;border: 1px solid #dcdcdc;-moz-border-radius: 8px;-webkit-border-radius:8px;border-radius:8px;display:box;display:-webkit-box;display:-moz-box;}
.myorder_p01{background-color: #f9ac8e;color: #fff;box-flex:2;-moz-box-flex:2;-webkit-box-flex:2;-webkit-border-top-left-radius:8px;-moz-border-top-left-radius:8px;border-top-left-radius:8px;border-bottom-left-radius:8px;-moz-border-bottom-left-radius:8px;-webkit-border-bottom-left-radius:8px;display: box;display: -webkit-box;display: -moz-box;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;-webkit-box-align:center;-moz-box-align:center;box-align:center;font-size: 12px;}
.myorder_div01{box-flex:8;-moz-box-flex:8;-webkit-box-flex:8;padding: 1rem 0;}
.myorder_p02{padding-left: 1rem;line-height: 2.4rem;color: #333;font-size: 14px;}
.myorder_s01{color: #f9493a;}
.myorder_s02{color: #f9ac8e;padding-left: 1rem;}
.myorder_p03{box-flex:2;-moz-box-flex:2;-webkit-box-flex:2;display: box;display: -webkit-box;display: -moz-box;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;-webkit-box-align:center;-moz-box-align:center;box-align:center;}
.myorder_p03 img{width: 1rem;}

/*kongtuanbing start*/

/*washDetails*/
.wrap{width:100%;height:auto;background-color:#f3f5f7;box-sizing:border-box;}
.wa_top{width:100%;height:6.8rem;background-color:#33beff;padding-left:1.0rem;padding-right:1.0rem;box-sizing:border-box;}
.wa_tl{display:inline-block;background-image:url(../images/wx_leftbtn01.png);background-size:1.2rem,1.2rem;background-repeat:no-repeat;background-position:0 50%;height:6.8rem;width:20%;float:left;}
.wa_tittle{float:left;width:60%;font-size:24px;color:#fff;font-weight:normal;line-height:6.8rem;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.wa_tr{box-sizing:border-box;display:inline-block;height:6.8rem;width:20%;background-image:url(../images/wx_noselected.png);background-size:2.0rem 2.0rem;background-repeat:no-repeat;background-position:100% 50%;}
.wa_mid{width:100%;height:auto;}
.wa_midimg01{display:block;width:8.0rem;height:15.6rem;margin:1.8rem auto 1.0rem auto;}
.wa_midimg02{display:block;width:100%;height:15.6rem;margin:0;}
.wa_details{box-sizing:border-box;width:100%;height:auto;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;margin-bottom:1.2rem;background-color:#fff;}
.wa_place{width:100%;height:7.4rem;}
.wa_place_num{float:left;width:5.8rem;height:7.4rem;background-color:#33beff;text-align:center;line-height:7.4rem;color:#fff;font-size:3.2rem;}
.wa_place_des{float:left;padding-top:1.2rem;padding-left:2.6rem;line-height:2.8rem;}
.wa_place_state{font-size:1.8rem;color:#333;}
.wa_place_state span{display:inline-block;margin-left:1.2rem;color:#33beff;font-size:1.4rem;}
.wa_place_location{font-size:1.6rem;color:rgb(133,133,133);}
.wa_place_location span{display:inline-block;margin-left:1.6rem;}
.wa_wash_mode{height:3.2rem;line-height:3.2rem;border-top:1px solid #dcdcdc;padding-left:1.2rem;font-size:1.6rem;color:#333;}
.wa_wash_mode span{display:inline-block;margin:0 2.2rem 0 2.2rem;color:rgb(249,73,58);}
.wa_place_selectMode{width:100%;height:auto;}
.wa_place_selectMode ul li{border:1px solid #dcdcdc;box-sizing:border-box;height:8.8rem;background-color:#fff;text-align:center;padding-top:1.6rem;width:25%;float:left;margin-right:-1px;margin-bottom:-1px;}
.wa_mode_img{display:inline-block;width:5.2rem;height:5.2rem;margin-bottom:0.6rem;}
.wa_selectModeTittle{font-size:1.6rem;color:#333;}
.wa_draptime{box-sizing:border-box;clear:both;height:10.2rem;width:100%;background:#fff;border-top:1px solid #dcdcdc;padding-left:0;padding-right:0;padding-top:1.2rem;}
.wa_draptime p{font-size:1.6rem;color:rgb(133,133,133);padding-left:1.2rem;}
.wa_drapnum{box-sizing:border-box;height:2.4rem;width:100%;background-color:#fff;}
.wa_drapnum ul li{float:left;box-sizing:border-box;display:inline-block;height:2.4rem;width:8.33%;line-height:2.4rem;font-size:1.6rem;color:rgb(50,190,255);text-align:center;}
.wa_drapheri{box-sizing:border-box;height:0.8rem;width:100%;background-color:#fff;}
.wa_drapheri ul li{box-sizing:border-box;display:inline-block;float:left;text-align:center;width:8.33%;}
.wa_drapheribar{box-sizing:border-box;display:inline-block;height:0.8rem;width:8.0%;background-color:rgb(50,190,255);}
.wa_drapbar{box-sizing:border-box;height:0.4rem;width:100%;background-color:rgb(50,190,255);}
.wa_drapscroll{position:relative;top:0;left:16.8%;width:8%;height:2.2rem;background-image:url(../images/wx_washdrapbar.png);background-size:100% 3.2rem;}
.ceshi{
	width:100%;
	height:2.2rem;
	background-color:orange;
	line-height:2.2rem;
	text-align:center;
}
.wa_modeDesc{background-color:#fff;padding:1.2rem 0 1.2rem 1.2rem;font-size:1.6rem;color:rgb(133,133,133);line-height:2.4rem;clear:both}
.wa_tapSure{width:80%;height:4.8rem;text-align:center;line-height:5.2rem;color:#fff;font-size:20px;margin:2.4rem auto;background-color:rgb(50,190,255);border-radius:0.8rem;-webkit-border-radius:0.8rem;-moz-border-radius:0.8;}
.wa_message{background-color:#333;width:auto;height:auto;color:#fff;font-size:1.0rem;text-align:center;position:absolute;z-index:8;top:50%;left:50%;padding:1.2rem;transform:translate(-50%,-50%);line-height:1.6rem;display:none;}
/*nearbyList*/
.ne_top{width:100%;height:6.8rem;background-color:#33beff;box-sizing:border-box;padding-left:1.0rem;padding-right:1.0rem;position:fixed;left:0;top:0;z-index:2;}
.ne_tl{display:inline-block;background-image:url(../images/wx_leftbtn01.png);background-size:1.2rem,1.2rem;background-repeat:no-repeat;background-position:0 50%;height:6.8rem;width:20%;float:left;}
.ne_tittle{float:left;width:60%;font-size:24px;color:#fff;font-weight:normal;line-height:6.8rem;text-align:center;}
.ne_tr{box-sizing:border-box;text-align:right;display:inline-block;height:6.8rem;width:20%;line-height:6.8rem;font-size:2.0rem;color:#fff;}
.ne_conter{box-sizing:border-box;width:100%;height:auto;margin-top:2.0rem;}
.ne_free,.ne_busy{box-sizing:border-box;display:block;background-color:#fff;width:100%;height:6.2rem;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;margin:1.0rem 0 1.0rem 0;background-image:url(../images/wx_nearbylist01.png);background-repeat:no-repeat;background-size:3.6rem 3.6rem;background-position:right bottom;}
.ne_free{border-left:0.3rem solid #33beff;}
.ne_busy{border-left:0.3rem solid rgb(249,73,58);}
.ne_place{box-sizing:border-box;float:left;width:70%;height:6.2rem;padding-left:1.2rem;}
.ne_placep1{height:3.1rem;line-height:3.8rem;color:#333333;font-size:1.8rem;}
.ne_placep2{height:3.1rem;line-height:2.4rem;color:#33beff;font-size:1.8rem;}
.ne_placep3{height:3.1rem;line-height:2.4rem;color:#f9493a;font-size:1.8rem;}
.ne_distance{box-sizing:border-box;float:right;width:30%;height:6.2rem;line-height:6.2rem;color:rgb(102,102,102);font-size:2.2rem;text-align:right;padding-right:1.2rem;}
.ne_nodata{position:relative;z-index:4;width:100%;height:100%;margin-top:6.8rem;background-color:#f3f5f7;text-align:center;padding-top:6.8rem;font-size:1.6rem;color:#999999;display:none;}
.ne_map{
	position:absolute;top:6.8rem;left:0;z-index:-6;width:100%;height:100%;
}
/*recommend*/
.re_top{width:100%;height:6.8rem;background-color:#33beff;box-sizing:border-box;padding-left:1.0rem;padding-right:1.0rem;}
.re_tl{display:inline-block;background-image:url(../images/wx_leftbtn01.png);background-size:1.2rem,1.2rem;background-repeat:no-repeat;background-position:0 50%;height:6.8rem;width:20%;float:left;}
.re_tittle{float:left;width:60%;font-size:24px;color:#fff;font-weight:normal;line-height:6.8rem;text-align:center;}
.re_tr{box-sizing:border-box;text-align:right;display:inline-block;height:6.8rem;width:20%;line-height:6.8rem;font-size:2.0rem;color:#fff;}
.re_place{box-sizing:border-box;width:100%;height:7.4rem;margin-top:1.0rem;background-color:#fff;border-bottom:1px solid #dcdcdc;}
.re_place_num{float:left;width:5.8rem;height:7.4rem;background-color:#33beff;text-align:center;line-height:7.4rem;color:#fff;font-size:3.2rem;}
.re_place_des{float:left;padding-top:1.2rem;padding-left:1.8rem;line-height:2.8rem;}
.re_place_state{font-size:1.8rem;color:#333;}
.re_place_state span{display:inline-block;margin-left:1.2rem;color:#33beff;font-size:1.4rem;}
.re_place_location{font-size:1.6rem;color:rgb(133,133,133);}
.re_place_location span{display:inline-block;margin-left:1.2rem;}
.re_details{box-sizing:border-box;width:100%;height:auto;border-bottom:1px solid #dcdcdc;margin-bottom:1.2rem;background-color:#fff;}
.re_wash_mode{height:3.2rem;line-height:3.2rem;font-size:1.6rem;color:#333;padding-left:1.2rem;}
.re_wash_mode span{display:inline-block;margin:0 2.2rem 0 2.2rem;color:rgb(249,73,58);}
.re_place_selectMode{width:100%;height:auto;}
.re_place_selectMode ul li{border:1px solid #dcdcdc;box-sizing:border-box;height:8.8rem;background-color:#fff;text-align:center;padding-top:1.2rem;float:left;margin-right:-1px;margin-bottom:-1px;}
.re_mode_img{display:inline-block;width:4.8rem;height:4.8rem;margin-bottom:0.6rem;}
.re_selectModeTittle{font-size:1.4rem;color:#333;}
.re_modeDesc{background-color:#fff;padding:1.2rem 0 1.2rem 1.2rem;font-size:1.6rem;color:rgb(133,133,133);line-height:2.4rem;clear:both}

.re_draptime{box-sizing:border-box;clear:both;height:10.2rem;width:100%;background:#fff;border-top:1px solid #dcdcdc;padding-left:1.2rem;padding-right:1.2rem;padding-top:1.2rem;}
.re_draptime p{font-size:1.6rem;color:rgb(133,133,133);}
.re_drapnum{box-sizing:border-box;height:2.4rem;width:100%;background-color:#fff;}
.re_drapnum ul li{float:left;box-sizing:border-box;display:inline-block;height:2.4rem;width:8.33%;line-height:2.4rem;font-size:1.6rem;color:rgb(50,190,255);text-align:center;}
.re_drapheri{box-sizing:border-box;height:0.8rem;width:100%;background-color:#fff;}
.re_drapheri ul li{box-sizing:border-box;display:inline-block;float:left;text-align:center;width:8.33%;}
.re_drapheribar{box-sizing:border-box;display:inline-block;height:0.8rem;width:8.0%;background-color:rgb(50,190,255);}
.re_drapbar{box-sizing:border-box;height:0.4rem;width:100%;background-color:rgb(50,190,255);}
.re_drapscroll{position:relative;top:0;left:16.8%;width:8%;height:2.2rem;background-image:url(../images/wx_washdrapbar.png);background-size:100% 3.2rem;}
.re_tapSure{width:80%;height:4.8rem;text-align:center;line-height:5.2rem;color:#fff;font-size:20px;margin:5.2rem auto;background-color:rgb(50,190,255);border-radius:0.8rem;-webkit-border-radius:0.8rem;-moz-border-radius:0.8;}

/*shopDeviceList start*/
.sl_top{width:100%;height:6.8rem;background-color:#33beff;position:fixed;z-index:6;padding-left:1.0rem;padding-right:1.0rem;box-sizing:border-box;}
.sl_tl{display:inline-block;background-image:url(../images/wx_leftbtn01.png);background-size:1.2rem,1.2rem;background-repeat:no-repeat;background-position:0 50%;height:6.8rem;width:20%;float:left;}
.sl_tittle{float:left;width:60%;font-size:24px;color:#fff;font-weight:normal;line-height:6.8rem;text-align:center;}
.sl_tr{box-sizing:border-box;display:inline-block;height:6.8rem;width:20%;background-image:url(../images/wx_noselected.png);background-size:2.0rem 2.0rem;background-repeat:no-repeat;background-position:100% 50%;}
.sl_floor{box-sizing:border-box;width:100%;height:auto;background-color:#fff;position:fixed;left:0;top:6.8rem;z-index:6;}
.sl_floor_top{box-sizing:border-box;width:100%;height:2.6rem;border-bottom:1px solid #dcdcdc;padding-left:0.2rem;padding-right:1.2rem;}
.floor_top_left{height:2.6rem;line-height:2.6rem;float:left;text-align:left;color:#333333;font-size:1.8rem;float:left;margin-left:1.0rem;}
.floor_top_right{height:2.6rem;line-height:2.6rem;float:right;text-align:right;color:#333333;font-size:1.8rem;margin-right:0.6rem;}
.floor_top_bar{height:2.6rem;line-height:2.6rem;float:right;text-align:right;color:#333333;font-size:1.8rem;}
.floor_bar_img{display:inline-block;margin-top:0.7rem;height:1.2rem;width:1.4rem;}
.floor_conter{box-sizing:border-box;width:100%;height:auto;display:none;}
.floor_conter ul li{display:block;box-sizing:border-box;width:100%;height:3.6rem;border-bottom:1px solid #dcdcdc;line-height:3.6rem;padding-left:1.2rem;font-size:1.8rem;color:#333333;}
.sl_device_conter{box-sizing:border-box;width:100%;height:auto;padding-top:9.4rem;}

.sl_device_list{clear:both;box-sizing:border-box;width:100%;height:auto;background-color:#fff;margin-top:1.0rem;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc}

.sl_place{box-sizing:border-box;width:100%;height:5.8rem;border-bottom:1px solid #dcdcdc;}
.sl_place_num{float:left;width:4.6rem;height:5.8rem;background-color:#33beff;text-align:center;line-height:5.8rem;color:#fff;font-size:3.2rem;}
.sl_place_des{float:left;padding-top:0;padding-left:1.2rem;line-height:2.2rem;height:5.8rem;}
.sl_place_state{font-size:2.0rem;color:#333;height:2.9rem}
.sl_place_state i{font-style:normal;display:block;max-width:10.2rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:2.9rem;float:left;}
.sl_place_state span{display:block;margin-left:0.4rem;color:#33beff;font-size:1.8rem;float:left;line-height:2.9rem;}
.sl_place_location{font-size:1.8rem;color:rgb(133,133,133);height:2.9rem}
.sl_place_location i{font-style:normal;display:block;max-width:16.2rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:2.9rem;float:left;}
.sl_place_location span{display:block;margin-left:0.4rem;color:#33beff;font-size:1.8rem;float:left;line-height:2.9rem;}
.sl_booked{float:right;width:auto;height:auto;padding-right:1.0rem;position:absolute;right:0;}
.sl_book_bar{width:6.0rem;height:2.2rem;background-color:#33beff;float:right;margin-top:0.6rem;color:#fff;line-height:2.2rem;text-align:center;font-size:1.8rem;border-radius:0.5rem;}
.sl_wash_mode{height:2.6rem;line-height:2.6rem;font-size:1.8rem;color:#333;padding-left:1.0rem;float:left;}
.sl_wash_mode span{display:inline-block;margin:0 2.2rem 0 2.2rem;color:rgb(249,73,58);}
.wash_bar{height:2.6rem;float:right;margin-right:1.0rem}
.wash_bar_img{display:inline-block;margin-top:0.7rem;height:1.2rem;width:1.4rem;}
.sl_conter{
	width:100%;
	height:auto;
	margin-top:-5.0rem;
	background-color:#f3f5f7;
}
.sl_details{height:2.6rem;width:100%;}

.sl_show_details{width:100%;height:auto;box-sizing:border-box;display:none;}
.sl_place_selectMode{width:100%;height:auto;clear:both;}
.sl_place_selectMode ul li{border:1px solid #dcdcdc;box-sizing:border-box;width:25%;height:8.8rem;background-color:#fff;text-align:center;padding-top:1.2rem;float:left;margin-right:-1px;margin-bottom:-1px;}
.sl_mode_img{display:inline-block;width:4.8rem;height:4.8rem;margin-bottom:0.6rem;}
.sl_selectModeTittle{font-size:1.4rem;color:#333;}
.sl_modeDesc{background-color:#fff;padding:1.2rem 0 1.2rem 1.2rem;font-size:1.6rem;color:rgb(133,133,133);line-height:2.4rem;clear:both}

/*shopDeviceList end*/
/*myCollect start*/
.my_top{width:100%;height:6.8rem;background-color:#33beff;position:fixed;top:0;z-index:6;padding-left:1.0rem;padding-right:1.0rem;box-sizing:border-box;}
.my_tl{display:inline-block;background-image:url(../images/wx_leftbtn01.png);background-size:1.2rem,1.2rem;background-repeat:no-repeat;background-position:0 50%;height:6.8rem;width:20%;float:left;}
.my_tittle{float:left;width:60%;font-size:24px;color:#fff;font-weight:normal;line-height:6.8rem;text-align:center;}
.my_select{
	position:fixed;
	top:6.8rem;
	z-index:6;
	height:4.2rem;
	width:100%;
	background-color:#fff;
}
.my_select ul li{
	box-sizing: border-box;
	display:block;
	width:50%;
	float:left;
	text-align:center;
	line-height:4.2rem;
	color:#333333;
	font-size:1.8rem;
	border-bottom:1px solid #ccc;
}
.my_conter{
	width:100%;
	height:auto;
	top:12.0rem;
}
.my_conter ul{
	box-sizing:border-box;
	width:100%;
	background-color:#fff;	
}
.my_conter_li{
	box-sizing:border-box;
	width:100%;
	height:3.8rem;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin-top:-1px;
	padding-left:1.0rem;
	line-height:3.8rem;
	color:#333;
	font-size:1.8rem;
	background-image:url(../images/wx_mycollect_rtn.png);
	background-repeat:no-repeat;
	background-size:0.8rem;0.6rem;
	background-position:97% 50%;
}

/*myCollect end*/
/*drapdown start*/
.dd_top{width:100%;height:6.8rem;background-color:#33beff;position:fixed;top:0;z-index:6;padding-left:1.0rem;padding-right:1.0rem;box-sizing:border-box;}
.dd_conter{
	width:100%;
	height:auto;
	background-color:#fff;
	padding-top:6.8rem;
	overflow:scroll;
}
.dd_up,.dd_down{
	width:100%;
	height:2.6rem;
	background-color:#fff;
	text-align:center;
	line-height:2.6rem;
	font-size:1.8rem;
	color:#333;
	display:none;
	
}
.dd_down{
	position:fixed;
	bottom:0;
}
.list_conter li{
	display:block;
	box-sizing: border-box;
	height:2.2rem;
	width:100%;
	background-color:#666;
	border-bottom:1px solid #666;
	text-align:center;
	line-height:2.2rem;
	font-size:1.8rem;
	color:#33beff;
	margin-top:1.0rem;
	margin-bottom:1.0rem;
}
/*drapdown end*/
/*kongtuanbing end*/



