@charset "utf-8";
*{margin:0;padding:0}
html{
	font-size:107%; -webkit-text-size-adjust:none; text-size-adjust:none;
}
.wrap{
	max-width:1440px;
	margin:0 auto;
	background-color:olive;
	height:600px;
	width:90%;
}
@media only screen and (min-width:1024px){
	html{
		font-size:125%!important;
	}
	.wrap{
		width:90%;
		background-color:red;
	}
}
@media only screen and (max-width:990px)and (min-width:680px){
	html{
		font-size:112%!important;
	}
	.wrap{
		width:92%;
		background-color:brown;
	}
}
@media only screen and (max-width:620px){
	html{
		font-size:65%!important;
	}
	.wrap{
		width:100%;
		background-color:blueviolet;
	}
}
