*{
	margin:0;
	padding:0;
}

.header{
	width:100%;
	height:80px;
	background-color:red;
	margin:0 auto;
}
.wrap{
	width:90%;
	height:600px;
	background-color:olive;
	margin:0 auto;
}
.left{
	width:30%;
	height:400px;
	float:left;
	background-color:orange;
}
.content{
	width:50%;
	height:400px;
	float:left;
	background-color:cadetblue;
	border:6px solid #000;
	box-sizing:border-box;
}
.right{
	width:20%;
	height:400px;
	float:left;
	background-color:brown;
}
