@charset "utf-8";
*{margin:0;padding:0}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,button,textarea,p,th,td,tr,a,img{margin:0;padding:0;}
html{ font-size:96%;font-family:"Arial,verdana,helvetica,sans-serif"}
ul{list-style:none;}
.wrap{
	width:90%;
	height:600px;
	margin:0 auto;
	background-color:;
	max-width:1440px;
	min-width:420px;
	border-left:0.1rem solid #D1EEEE;
	border-right:0.1rem solid #D1EEEE;
}
@media only screen and (min-width:1024px){
	html{font-size:112%;}
	.wrap{width:90%;}
	.nav ul{list-style:none;margin-left:8.6rem;}
	.nav ul li{float:left;height:3.0rem;text-align:center;vertical-align:center;width:8.0rem;}
}
@media only screen and (min-width:720px) and (max-width:990px){
	html{font-size:88%;}
	.wrap{width:96%;}
	.nav ul{margin-left:4.0rem;}
	.nav ul li{float:left;height:3.0rem;text-align:center;vertical-align:center;width:6.0rem;}
}
@media only screen and (min-width:460px) and (max-width:719px){
	html{font-size:66%;}
	.wrap{width:100%;}
	.nav ul{margin-left:1.0rem;}
	.nav ul li{float:left;height:3.0rem;text-align:center;vertical-align:center;width:6.0rem;}
}
@media only screen and (max-width:459px){
	html{font-size:48%;}
	.wrap{width:100%;}
	.nav ul{margin-left:1.0rem;}
	.nav ul li{float:left;height:3.0rem;text-align:center;vertical-align:center;width:6.0rem;}
}
.img-response{ width:100%;height:18.0rem;display:inline-block;}
div{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
/*header*/
.header{ width:100%;height:6.6rem;background-color:#fff;}
.header_left{width:80%;height:6.6rem;float:left;padding:2.6rem 0 0 7.6rem;background-image:url(../image/logo.jpg);
	background-repeat:no-repeat;
	background-size:7.2rem 4.8rem;
	background-position:0 1.2rem;
}
.header_left span{font-size:1.2rem;color:#000;}
.header_right{width:20%;height:6.6rem;float:right;background-color:;padding:1.2rem 0 0 1.2rem;}
.header_right ul{list-style:none;}
.header_right ul li{margin-right:0.2rem;float:left;}
.header_right ul li a:link,.header_right ul li a:visited{text-decoration:none;font-size:0.8rem;color:#3B3B3B;}
.header_right ul li a:hover{text-decoration:underline;color:blue;}
/*nav*/
.nav{width:100%;height:3.0rem;background-color:#1874CD;border-radius:1.2rem;line-height:3.0rem;
	-moz-border-radius:1.2rem;-webkit-border-radius:1.2rem;position:relative;z-index:4;}
/*nav first*/	
/*.nav ul{list-style:none;margin-left:6.6rem;}*/
.nav ul li{float:left;height:3.0rem;text-align:center;vertical-align:center;width:8.0rem;}
.nav ul li a:link,.nav ul li a:visited{text-decoration:none;font-size:0.8rem;color:#fff;}
.nav ul li a:hover{color:#3B3B3B;}
/*nav second*/
.pro{width:14.2rem;height:20.0rem;background-color:#1874CD;margin-top:-0.1rem;opacity:0.8;display:none;}
.pro ul{list-style:none;margin:0;}
.pro ul li{height:1.6rem;text-align:left;width:14.2rem;line-height:1.6rem;border-bottom:0.1rem solid #00C5CD;}
.pro ul li a:link,.pro ul li a:visited{margin-left:0.4rem;display:block;text-decoration:none;font-size:0.7rem;color:#fff;}
.pro ul li a:hover{margin:0;display:block;color:#fff;background-color:#3B3B3B;}

/*lunboqi start*/
.lunboqi{cursor:pointer;position:relative;z-index:1;width:100%;height:18.0rem;margin-top:2.4rem;}
.banner{position:relative;z-index:2;width:100%;height:2.0rem;padding-top:0.4rem;margin-top:-2.2rem;}
.bar{width:1.6rem;height:1.2rem;float:right;margin-right:0.2rem;background-color:#1C1C1C;text-align:center;line-height:1.2rem;color:#fff;}
/*lunboqi end*/
























